

<div>
    

<div>
     
    <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
        <input type="file" class="custom-file-input" id="customFile" multiple="" />
        <label class="custom-file-label" for="customFile">Attachment</label>
    </div>
<div>
    

<div>
    

    <div>
         
    
        <div class="list row">
            <div class="col-md-8">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search by title"
                  [(ngModel)]="sum1"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="payment()"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
    </div>
    </div>
    
</div>
</div>
</div>