<nav id="navigation" >
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav" class="container-fluid">
            <!-- NAV  -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="/"  class="navbar-brand"  >
                 <i class="fa fa-home">

                 </i> 
                </a></li>
                <li><a href="/chart">Hot Deals</a></li>
                <li><a href="/addcategory1">Categories</a></li>
                <li><a href="/favourite">favourite</a></li>
                <li><a href="/book">Laptops</a></li>
                <li><a href="/addprod1">addprod1</a></li>
                <li><a href="/forums">Cameras</a></li>
                <li><a href="/gain">Accessories</a></li>

                
                <li><a href="/prfilter">filter</a></li>

                <li>
                    <a href="/publicity">pub</a>

                </li>

                <li  class="item-group-list" ><a href="/home1">Home</a></li>
                <li  class="item-group-list"><a href="/euser">Register</a></li>
                <li  class="item-group-list"><a href="/search">search User</a></li>
                <li  class="item-group-list"><a href="/dashboard">Dashboard</a></li>
                <li  class="item-group-list"><a href="/excel">Excel</a></li>
                <li  class="item-group-list"><a href="/chart">Chart</a></li>
                <!--<li  class="item-group-list"><a href="/weather">Weather</a></li>
                <li  class="item-group-list"><a href="/bestproduct">Best Product</a></li>
                li  class="item-group-list"><a href="/profitpermonth">ProfitPerMonth</a></li>
                <li  class="item-group-list"><a href="/dice">Dice</a></li>
                <li  class="item-group-list"><a href="/generalstatistic">GeneralStatistic</a></li>-->
                <li  class="item-group-list"><a href="/dice2">Dice</a></li>
                <li  class="item-group-list"><a href="/profit1">Profit</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>