<!--<li class="active">               
<a [routerLink]="['/home/dashboard']">
             <i class="material-icons">home</i>
             <span>Dashboard</span>
</a>
                </li>


<li class="active">
          <a [routerLink]="['/home/euser']">
                <i class="material-icons">widgets</i>
                <span>Euser</span>
          </a>
</li>
<li class="active">
              <a [routerLink]="['/home/profit']">
                    <i class="material-icons">widgets</i>
                    <span>Profit</span>
              </a>
    </li>

    <li class="active">
                  <a [routerLink]="['/home/search']">
                        <i class="material-icons">widgets</i>
                        <span>Search</span>
                  </a>
        </li>    



    -->    