  <div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>what say our clients</h2>
                </div>
            </div>
        </div>
    </div>
</div>
   
<!-- <app-filtershop [searchname] = "myproduct"  (searchEvent) = "searcht($event)">

</app-filtershop> -->


<div class="clients_red">
    <div class="container">
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
                <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
                <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont text_align_center cross_layout">
                            <div class="cross_inner">
                                <h3>Due markes<br><strong class="ornage_color">Rental</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                                <div class="full text_align_center margin_top_30">
                                    <img src="../../../assets/finalshopp/icon/testimonial_qoute.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">

                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont text_align_center cross_layout">
                            <div class="cross_inner">
                                <h3>Due markes<br><strong class="ornage_color">Rental</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                                <div class="full text_align_center margin_top_30">
                                    <img src="../../../assets/finalshopp/icon/testimonial_qoute.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont text_align_center cross_layout">
                            <div class="cross_inner">
                                <h3>Due markes<br><strong class="ornage_color">Rental</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess
                                </p>
                                <div class="full text_align_center margin_top_30">
                                    <img src="../../../assets/finalshopp/icon/testimonial_qoute.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="example-wrapper">
    <button kendoButton *ngIf="!opened" (click)="open()">Open window</button>
    <p *ngIf="dataSaved">Data has been saved</p>
    <kendo-window
      title="Please provide additional data"
      *ngIf="opened"
      (close)="close()"
      [minWidth]="250"
      [width]="450"
    >
      <form class="k-form">
        <fieldset>
          <legend>User Details</legend>

          <label class="k-form-field">
            <span>First Name</span>
            <input class="k-textbox" placeholder="Your Name" />
          </label>
          <label class="k-form-field">
            <span>Last Name</span>
            <input class="k-textbox" placeholder="Your Last Name" />
          </label>
        </fieldset>

        <div class="text-right">
          <button type="button" class="k-button" (click)="close()">
            Cancel
          </button>
          <button type="button" class="k-button k-primary" (click)="submit()">
            Submit
          </button>
        </div>
      </form>
    </kendo-window>
    <kendo-window
    title="Please provide additional data"
    *ngIf="opened"
    (close)="close()"
    [minWidth]="250"
    [width]="450"
  >
  <video width="320" height="240" controls>
    <source src="../../../assets/video-1620591865.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
  </video>
  </kendo-window>
  </div>