<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
        <!-- sh menu -->
		<div class="sh-menu">
			<!--  head -->
			<div class="sh-head">
				<!-- Button -->
				<a href="/menu"  class="bg-lblue">Menu</a>
            </div>
            <app-shopnotif2></app-shopnotif2>
			<!--  content -->
			<div class="sh-content bg-lblue">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-4">
							<!--  item -->
							<div class="sh-item">
								<!-- Image -->
								<a href="#"><i class="fa fa-paint-brush fa-4x"></i></a>
								<!-- Heading -->
								<h6><a href="#">Brush</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<!-- UI iteme -->
							<div class="sh-item">
								<!-- Image -->
								<a href="#"><i class="fa fa-weixin fa-4x"></i></a>
								<!-- Heading -->
								<h6><a href="#">Chat</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-area-chart fa-4x"></i></a>
								<h6><a href="#">Crown</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-diamond fa-4x"></i></a>
								<h6><a href="#">Diamond</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-map-marker fa-4x"></i></a>
								<h6><a href="#">Location</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-search fa-4x"></i></a>
								<h6><a href="#">Search</a></h6>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-4">
							<!-- UI item -->
							<div class="sh-item">
								<!-- Image -->
								<a href="#"><i class="fa fa-cogs fa-4x"></i></a>
								<!-- Heading -->
								<h6><a href="#">Setting</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<!-- UI item -->
							<div class="sh-item">
								<!--Image -->
								<a href="#"><i class="fa fa-bars fa-4x"></i></a>
								<!-- Heading -->
								<h6><a href="#">Status</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-phone-square fa-4x"></i></a>
								<h6><a href="#">Support</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-user fa-4x"></i></a>
								<h6><a href="#">User</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-archive fa-4x"></i></a>
								<h6><a href="#">Archive</a></h6>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-4">
							<div class="sh-item">
								<a href="#"><i class="fa fa-book fa-4x"></i></a>
								<h6><a href="#">Books</a></h6>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /content -->
		</div><!-- /sh menu -->
</div>    