
<app-layout>
    <mat-toolbar class="page-header" role="heading">
      <h1>Add Publicity</h1>
    </mat-toolbar>
  
    <div class="tables-wrapper">

      <!--<app-category-table [employeeTableData]="employeeTableData$ | async"></app-category-table>-->
      <div class="float-container">

        <div class="float-child">
          <app-add-publicity></app-add-publicity>
        </div>

        <div class="float-child">
      <searchforproduct></searchforproduct>
    </div>
  
  
  </div>
    </div>
  
    <app-footer></app-footer>
  </app-layout>
  