<div class="box">
    <div class="notifications">
        <i class="fa fa-heart"></i>
        <span class="num">{{favourites.products.length}}</span>
            
           
          
      
        <ul >

            <li class="icon" *ngFor="let p of favourites.products">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span class="text">{{p.productname}}</span>
                <span class="badge badge-primary">
                    {{p.codebar}}
                </span>
                <span>
                    <img [src]="'data:image/jpeg;base64,' + p.productImg" alt="data:image/jpeg;base64" height="80" width="80" />
                </span>
                <a [routerLink]="['/finalshop/productdet', p.product_id]"    class="p-name">{{p.productname}}</a>
            </li>
          
           
        </ul>
    </div>
</div>