<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center"> Valid information is required to register <span class="req"><small>
                                </small></span></legend>
                                <div class="container row">
                                    <div class="col-md-6">
                                        <input type="file" (change)="onFileChanged($event)">
                                    </div>
                                    
                                </div>
                    <div class="form-group">
                        <label for=""><span class="req"> </span> Name: </label>
                        <input class="form-control" required type="text" name="name" [(ngModel)]="name "
                            id="deliveryMan_Name" placeholder="type a name" />
                        <div class="status" id="txt"></div>
                    </div>

                    <div class="form-group">
                        <label for=""><span class="req"> </span> last name: </label>
                        <input class="form-control" required type="text" name="lastName" [(ngModel)]="lastName "
                            id="lastName" placeholder="type a name" />
                        <div class="status" id="txt"></div>
                    </div>
  
                    <div class="form-group">
                        <div class="form-line">
                        <label for=""><span class="req"> </span> disponibility: </label>
                        <select class="form-control" required type="text" name="disponibility" [(ngModel)]="disponibility "
                            id="dispo" placeholder="is he dispo" >
                           <option value="true">true</option>
                           <option value="false">false</option>
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                        <label for=""><span class="req"> </span> Email: </label>
                        <input class="form-control" required type="text" name="email" [(ngModel)]="email"
                            id="email" placeholder="type a valid email" />
                        <div class="status" id="txt"></div>
                    </div>
                    
                    <div class="form-group">
                        <label for=""><span class="req"> </span> Salary </label>
                        <input class="form-control" required type="text" name="salaire" [(ngModel)]="salaire"
                            id="salaire" placeholder="type..." />
                        <div class="status" id="txt"></div>
                    </div>
                   
                  
                  
                    
               
                   

                    <div class="form-group">
                        <div class="form-line">
                        <label for=""><span class="req"> </span> Transport</label>
                        <select class="form-control" required type="text" name="transport" [(ngModel)]="transport"
                            id="tr" placeholder="type..." >
                        <option value="vespa">vespa</option>
                        <option value="camion">camion<option>

                            </select>
                        </div>
                    </div>
                    



                    <div class="form-group">
                        <label for=""><span class="req"> </span> Phone number</label>
                        <input class="form-control" required type="text" name="phone" [(ngModel)]="phone"
                            id="work" placeholder="type..." />
                        <div class="status" id="txt"></div>
                    </div>

                    <div class="form-group">
                        <label for=""><span class="req"> </span> workload </label>
                        <input class="form-control" required type="text" name="workload" [(ngModel)]="workLoad"
                            id="work" placeholder="type..." />
                        <div class="status" id="txt"></div>
                    </div>

                    <div class="form-group">
                        <label for=""><span class="req"> </span> Facebook link </label>
                        <input class="form-control" required type="text" name="facebook" [(ngModel)]="facebook"
                            id="work" placeholder="type..." />
                        <div class="status" id="txt"></div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)=" updateD()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
    
</div>


