<nav> 
    <!--social-links-and-phone-number----------------->
<div class="social-call">
 <!--social-links--->
 <div class="social">
     <a href="#"><i class="fab fa-facebook-f"></i></a>
     <a href="#"><i class="fab fa-twitter"></i></a>
     <a href="#"><i class="fab fa-youtube"></i></a>
     <a href="#"><i class="fab fa-instagram"></i></a>
 </div>
 <!--phone-number------>
 <div class="phone">
     <span>Call: +123456789</span>
 </div>
</div>
<!--menu-bar----------------------------------------->
<div class="navigation">
    <app-shopnotif2></app-shopnotif2>
 <!--logo------------>
 <a href="#" class="logo"><img src="../../../assets/images/logo.png"></a>
 
 <!--menu-icon------------->
 <div class="toggle"></div>
 <!--menu----------------->
 <ul class="menu">
   
     <li><a href="#">Home</a></li>
     <li  class="shop"><a href="#" >Shop</a></li>
     <li><a href="#">Men</a>
         <!--lable---->
         <span class="sale-lable">Sale</span>
     </li>
     <li><a href="#">Women</a></li>
     <li><a href="#">Kids</a></li>
 </ul>
 <!--right-menu----------->
 <div class="right-menu">
     <a href="javascript:void(0);" class="search">
         <i class="fas fa-search"></i>
     </a>
     <a href="javascript:void(0);" class="user" *ngIf="!isLoggedIn">
         <i class="far fa-user"></i>
     </a>

     <a mat-button *ngIf="isLoggedIn" (click)="logout()">Logout ({{username2}})
              <p class="text text-success">
               You  
              </p>

       coins  <p *ngIf="profs"> {{profs.coins}} </p>
        <div *ngIf="profs.lprofile.edited">
 


            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="image_outer_container">
                        <div class="green_icon"></div>
                        <div class="image_inner_container">
                            <img  class="img-circle"  [src]="'data:image/jpeg;base64,'+ profs.lprofile.picprofile" height="85px" width="85px"/>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                {{profs.lprofile.tel}}   ;  coins {{profs.coins}}
            </p>
 
            <p>
                {{profs.lprofile.adreese}}
            </p>

            <div class="row ">
                <div class="col-lg-12">
                    <div class="badge badge-success">
                        <span class="text text-success">
                            <div style="color: gold;">
                                <p style="color: gold;">
                                    <i class="fas fa-coins"></i> {{profs.coins}}
                                </p>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
           
                    
           <!--
                <img  class="img-circle"  [src]="'data:image/jpeg;base64,'+ profs.lprofile.picprofile" height="85px" width="85px"/>
           -->
</div>
                 
          
    </a>

     <a href="#">
         <i class="fas fa-shopping-cart">
             <span class="num-cart-product">0</span>
         </i>
     </a>

    

    <a href="#">
        <i class="fas fa-shopping-cart" style="color:red">
            <span class="num-cart-product"> {{nbrFav}}</span>
            
               <div *ngFor="let f of favourite">
                      <p>
                          {{f.favourite_id}}
                      </p>
               </div>
            
        </i>
    </a>
 </div>
 </div>
</nav>


<div class="search-bar">
    
    <!--search-input------->
    <div class="search-input">
    <input type="text" placeholder="Search For Product" [(ngModel)]="term" name="search" />
    <!--cancel-btn--->
    <a href="javascript:void(0);" class="search-cancel">
        <i class="fas fa-times"></i>
    </a>

</div>
</div>

<!-- <div class="col-12 p-3">
    <div class="row">
      <ng-container *ngIf="(filterResults$ | filter: filterField) | async as data; else loading">
        <div class="col-12" *ngIf="dataLength(data); else error">
          <div class="list-unstyled row">
            <div *ngFor="let x of data; let i = index" class="list-item col-12 col-md-6 col-lg-4">
              {{ i + 1 }} . {{ x.name | titlecase }}
            </div>
          </div>
        </div>
        <ng-template #error>
          <div class="col-12">
            <div class="alert alert-danger">
              I could not find a product  matching your filter criteria!
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #loading>
        <div class="col-12 text-center">
          Loading ...
        </div>
      </ng-template>
    </div>
  </div>

 -->


<div class="form">
    <!--login---------->
    <div class="login-form">
        <!--cancel-btn---------------->
        <a href="javascript:void(0);" class="form-cancel">
            <i class="fas fa-times"></i>
        </a>
        <strong>Log In</strong>
        <!--inputs-->
        <form (ngSubmit)="login(f)" #f="ngForm">
            <label for="username">Username</label>
          <div *ngIf="un.errors?.required && un.touched" class="red-text darken-1">
            Username is required
          </div>
            <input    [(ngModel)]="username" id="username" name="username" type="text" #un="ngModel" placeholder="username" [class.invalid]="un.errors?.required && un.touched" required/>
            <label for="password">Password</label>
            <div *ngIf="p.errors?.required && p.touched" class="red-text darken-1">
              Password is required
            </div>
            
            <input  [(ngModel)]="password" id="password" name="password" type="password" #p="ngModel" [class.invalid]="p.errors?.required && p.touched" required/>
            <input type="submit" [disabled]="f.invalid" value="Log In"/>
        </form>
        <!--forget-and-sign-up-btn-->
        <div class="form-btns">
            <a href="#" class="forget">Forget Your Password?</a>
            <a href="javascript:void(0);" class="sign-up-btn">Create Account</a>
        </div>
    </div>
        <!--Sign-up---------->
        <div class="sign-up-form">
            <!--cancel-btn---------------->
        <a href="javascript:void(0);" class="form-cancel">
            <i class="fas fa-times"></i>
        </a>
            <strong>Sign Up</strong>
            <!--inputs-->
            <form  (ngSubmit)="register(f)" #f="ngForm">
                <label for="username">Username</label>
                <div *ngIf="un.errors?.required && un.touched" class="red-text darken-1">
                  Username is required
                </div>
                <input [(ngModel)]="username" id="username" name="username" type="text" #un1="ngModel" [class.invalid]="un1.errors?.required && un.touched" required/>
                <label for="email">email</label>
                <div *ngIf="p1.errors?.required && p1.touched" class="red-text darken-1">
                  email is required  or not email input 
                </div>

                <input  [(ngModel)]="email" id="email" name="eamil" type="email" #p1="ngModel" [class.invalid]="p1.errors?.required && p1.touched" required/>
                <label for="password">Password</label>
                <div *ngIf="p.errors?.required && p.touched" class="red-text darken-1">
                  Password is required
                </div>
                <input [(ngModel)]="password" id="password" name="password" type="password" #p2="ngModel" [class.invalid]="p2.errors?.required && p2.touched">
                <input [(ngModel)]="password2" id="password2" name="password2" type="password" #p2="ngModel" required>
          <label for="password2">Repeat password</label>
          <div *ngIf="password2!=password && p2.touched" class="red-text darken-1">
            Passwords must match
          </div>
                <input [disabled]="f.invalid || password2!=password" type="submit" value="Sign Up"/>
            </form>
            <!--forget-and-sign-up-btn-->
            <div class="form-btns">
                <a href="javascript:void(0);" class="already-account">
                    Already Have Account?</a>

            </div>
        </div>
</div>

<ul id="adaptive" class="cs-hidden">
        
    <!--box-1--------------------------->
    <li class="item-a">
        <!---box------------------->
<div class="full-slider-box f-slide-1">
    
    <div class="f-slider-text-container">
    <div class="f-slider-text">
        <span>Limited Offer</span>
        <strong>30% Off<br/> With <font>Promo Code</font></strong>
        <a href="#" class="f-slider-btn">Shop Now</a>
    </div>
    </div>

</div>
</li>
 <!--box-2--------------------------->
    <li class="item-b">
        <!---box------------------->
<div class="full-slider-box f-slide-2">
    
    <div class="f-slider-text-container">
    <div class="f-slider-text">
        <span>Limited Offer</span>
        <strong>30% Off<br/> With <font>Promo Code</font></strong>
        <a href="#" class="f-slider-btn">Shop Now</a>
    </div>
    </div>

</div>
</li>
     <!--box-3--------------------------->
     <li class="item-c">
        <!---box------------------->
<div class="full-slider-box f-slide-3">
    
    <div class="f-slider-text-container">
    <div class="f-slider-text">
        <span>Limited Offer</span>
        <strong>30% Off<br/> With <font>Promo Code</font></strong>
        <a href="#" class="f-slider-btn">Shop Now</a>
    </div>
    </div>

</div>
</li>
 
</ul>



<ul id="autoWidth" class="container" class="cs-hidden">
    <!--box-1--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="#">
                <img src="../../../assets/images/feature_1.jpg">
            </a>
        </div>
        <span>T-Shirts</span>
    </li>
    <!--box-2--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="#">
                <img src="../../../assets/images/feature_2.jpg">
            </a>
        </div>
        <span>Men T-Shirts</span>
    </li>
    <!--box-3--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="#">
                <img src="../../../assets/images/feature_3.jpg">
            </a>
        </div>
        <span>Kids T-Shirts</span>
    </li>
    <!--box-4--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="#">
                <img src="../../../assets/images/feature_4.jpg">
            </a>
        </div>
        <span>Pillow</span>
    </li>
    <!--box-5--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="#">
                <img src="../../../assets/images/feature_5.jpg">
            </a>
        </div>
        <span>Phone Cover</span>
    </li>
    <!--box-6--------------------->
    <li class="item">
        <div class="feature-box">
            <a href="#">
                <img src="../../../assets/images/feature_6.jpg">
            </a>
        </div>
        <span>Shopping Bags</span>
    </li>
    
  </ul>
  <section class="new-arrival">
            
    <!--heading-------->
    <div class="arrival-heading">
        <strong>New Arrival</strong>
        <p>We Provide You New Fasion Design Clothes</p>
    </div>
      <!--products----------------------->
      <div class="product-container">
          
        <!--product-box-1---------->
          <div class="product-box">
              <!--product-img------------>
              <div class="product-img">
                  <!--add-cart---->
                  <a href="#" class="add-cart">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  <!--img------>
                <img src="../../../assets/images/p-1.png">
              </div>
              <!--product-details-------->
              <div class="product-details">
                  <a href="#" class="p-name">Drawstring T-Shirt</a>
                  <span class="p-price">$22.00</span>
              </div>
          </div>
            <!--product-box-2---------->
            <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                  <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                  <!--img------>
                  <img src="../../../assets/images/p-2.png">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Drawstring T-Shirt</a>
                    <span class="p-price">$22.00</span>
                </div>
            </div>
          <!--product-box-3---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
              <img src="../../../assets/images/p-3.png">
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Drawstring T-Shirt</a>
                <span class="p-price">$22.00</span>
            </div>
        </div>
          <!--product-box-4---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
              <img src="../../../assets/images/p-4.png">
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Drawstring T-Shirt</a>
                <span class="p-price">$22.00</span>
            </div>
        </div>
          <!--product-box-5---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
              <img src="../../../assets/images/p-5.png">
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Drawstring T-Shirt</a>
                <span class="p-price">$22.00</span>
            </div>
        </div>
          <!--product-box-6---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
              <img src="../../../assets/images/p-6.png">
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Drawstring T-Shirt</a>
                <span class="p-price">$22.00</span>
            </div>
        </div>
          <!--product-box-7---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                <!--img------>
              <img src="../../../assets/images/p-7.png">
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Drawstring T-Shirt</a>
                <span class="p-price">$22.00</span>
            </div>
        </div>
          <!--product-box-8---------->
          <div class="product-box">
            <!--product-img------------>
            <div class="product-img">
                <!--add-cart---->
                <a href="#" class="add-cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <!--img------>
              <img src="../../../assets/images/p-8.png">
            </div>
            <!--product-details-------->
            <div class="product-details">
                <a href="#" class="p-name">Drawstring T-Shirt</a>
                <span class="p-price">$22.00</span>
            </div>
        </div>
      </div>



      <div class="product-container"  >




        

          
        <!--product-box-1---------->
          <div class="product-box" *ngFor="let book of books">
              <!--product-img------------>
              <div class="product-img">
                  <!--add-cart---->
                  <a href="#" class="add-cart">
                      <i class="fas fa-shopping-cart"></i>
                    </a>
                  <!--img------>
                <img [src]="'data:image/jpeg;base64,' + book.imageUrl" />
              </div>
              <!--product-details-------->
              <div class="product-details">
                  <a href="#" class="p-name">{{book.name}}</a>
                  <span class="p-price">{{book.unitPrice}}</span>

                  
              </div>
          </div>
            <!--product-box-2- | filterprod: filterFiled--------->
          
           
             <app-filtershop [searchname] = "myproduct"  (searchEvent) = "searcht($event)">

             </app-filtershop>
            <div class="product-box" *ngFor="let prod of products | filter:term ">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart">
                        <i class="fas fa-shopping-cart"></i>
                      </a>
                    <!--img------>
                  <img src="{{'data:image/jpeg;base64,' + prod.productImg}}" alt="product image" />
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <small>
                        {{prod.product_id}}
                    </small>
                    <p> # {{prod.brand}} </p>
                    <a href="#" class="p-name">{{prod.productname}}</a>
                    <span class="p-price">{{prod.price}}</span>
                    <h3>#{{prod.codebar}}</h3>
                     <p class="text text-success">
                         {{prod.quantity}}
                     </p>

      <span class="jumbotron row justify-content-center">
          <div class="col-sm-6">
                 <app-childshop  [productId]='prod.product_id' [stock]='prod.quantity' (stockValueChange)='changeStockValue($event)'>

                 </app-childshop>
          </div>
      </span>
<div class="jumbotron">
    <div class="container row ">
        <div class="col-sm-6">
            <div class="justify-content-center">
                <span class="badge badge-primary" style="color:aliceblue">
                    <i class="fa fa-thumbs-up" aria-hidden="true"  (click)="addLikes(prod.product_id)"></i>
                    <small>
                        {{prod.like}}
                    </small>


                    <i class="fa fa-eye" aria-hidden="true" (click)="addViews(prod.product_id)"></i>
                    <small>
                        {{prod.productViews}}
                    </small>

                    
                    <i class="fa fa-thumbs-down" aria-hidden="true"  (click)="addDeslikes(prod.product_id)"></i>
                    <small>
                        {{prod.deslike}}
                    </small>
                </span>
            </div>
        </div>
    </div>
</div>
                   

                    <div>
                        <div>
                            <div>
                                <span>
                                    <p>
                                       <i class="fa fa-heart" style="color:red;">

                                       </i>
                                    </p>
                                </span>

                                <div class="example-wrapper">
                                    <button kendoButton *ngIf="!opened" (click)="open(prod.product_id)">Open window</button>
                                    <p *ngIf="dataSaved">Data has been saved</p>
                                    <kendo-window title="Please provide additional data" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">
                            
                                    <form class="k-form">
                                        <fieldset>
                                            <legend>comment {{prod.product_id}}  </legend>
                            
                                            <label class="k-form-field">
                                                <span>title</span>
                                                <input class="k-textbox" name="title" placeholder="ttile" [(ngModel)]="myComment.title" />
                                                {{myComment.title}}
                                            </label>
                                            <label class="k-form-field">
                                                <span>body comment</span>
                                                <input class="k-textbox" name="bodyComment" placeholder="bodyCommen" [(ngModel)]="myComment.bodyComment" />
                                            </label>
                                        </fieldset>
                            
                                        <div class="text-right">
                                            <button type="button" class="k-button" (click)="close()">Cancel</button>
                                            <button type="button" class="k-button k-primary" (click)="submit(1)">Submit</button>
                                        </div>
                                    </form>
                            
                                    </kendo-window>
                                  </div>

                                <p>
                                    add comment 
                                </p>
                             
                            </div>
                        </div>
                    </div>
                   
                    <details>
                        <div *ngFor="let comm of prod.comments">
    
                          <time>
                              {{comm.createdAt}}
                          </time>
                            <span>
                                 by:   {{comm.username}}
                            </span>
                            <span>
                                {{comm.title}}
                            </span>
                            <span>
                                {{comm.bodyComment}}
                            </span>
                        </div>
                    </details>
                </div>
            </div>



      </div>


  </section>
  <section class="sale">
    <!--sale-box-1-------------------->
    <div class="sale-box sale-1">
        <img src="../../../assets/images/sale-1.jpg">
        
        <a href="#">
        <div class="sale-text">
          <strong>Bag with rose pattern</strong>
          <span>Sale off 25%</span>
        </div></a>
    
      </div>
       <!--sale-box-2-------------------->
    <div class="sale-box sale-1">
      <img src="../../../assets/images/sale-2.jpg">
      
      <a href="#"><div class="sale-text">
        <strong>Hello Summer</strong>
        <span>Sale off 20%</span>
      </div></a>
  
    </div>
     <!--sale-box-3-------------------->
     <div class="sale-box sale-1">
      <img src="../../../assets/images/sale-3.jpg">
      
      <a href="#">
      <div class="sale-text">
        <strong>Let's Party Hard Pillow</strong>
        <span>Sale off 25%</span>
      </div></a>
  
    </div>
 
</section>
<div class="banner-box f-slide-3">
        
    <div class="banner-text-container">
    <div class="banner-text">
        <span>Limited Offer</span>
        <strong>30% Off<br/> With <font>Promo Code</font></strong>
        <a href="#" class="banner-btn">Shop Now</a>
    </div>
    </div>

</div> 


<section class="services">
    <!--services-box---------->
    <div class="services-box">
        <i class="fas fa-shipping-fast"></i>
        <span>Free Shipping</span>
        <p>Free Shipping for all US order</p>
    </div>
    <!--services-box---------->
    <div class="services-box">
        <i class="fas fa-headphones-alt"></i>
        <span>Support 24/7</span>
        <p>We support 24h a day</p>
    </div>
    <!--services-box---------->
    <div class="services-box">
        <i class="fas fa-sync"></i>
        <span>100% Money Back</span>
        <p>You have 30 days to Return</p>
    </div>
    
</section>
<!--footer---------------------------->
<footer>
    <!--copyright-------------->
    <span class="copyright">
        Copyright 2020 - BookTunsi
    </span>
    <!--subcribe <input type="email" placeholder="ayoubjobs.2019@gmail.com" required/>---------------->
    <div class="subscribe">
        <form #f = "ngForm"  (ngSubmit)="sendmail(f)">
            <input type="text" name="firstName" placeholder="enter ur first name" class="form-control" [(ngModel)] ="em.firstName" required />
            <input type="text" name="lastName" placeholder="enter ur last name" class="form-control" [(ngModel)] ="em.lastName" required />
            <input type="email" name="emailAddress" placeholder="enter ur first emai" class="form-control" [(ngModel)] ="em.emailAddress" required />
        
       
         
        <input type="submit" value="Subscribe">
        </form>
    </div>

    <app-shoppmap></app-shoppmap>
</footer>
