<!--<app-home></app-home>-->
<ul  class="item-group">
    <li  class="item-group-list" ><a routerLink="/home">Home</a></li>
    <li  class="item-group-list"><a routerLink="/euser">Register</a></li>
    <li  class="item-group-list"><a routerLink="/search">search User</a></li>
    <li  class="item-group-list"><a routerLink="/dashboard">Dashboard</a></li>
    <li  class="item-group-list"><a routerLink="/profit">Profit</a></li>
    <li  class="item-group-list"><a routerLink="/dice">Dice</a></li>
    </ul>
    <router-outlet></router-outlet>