<div class="container" id="content">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        A Message You Would Like To Pass 
                    </h4>
                </div>
                <div class="card-body">
                    <input type="text" id="message" placeholder="Enter your message" class="form-control" />
                    <small class="text-danger float-left"></small>
                    <p class="mt-4">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </p>
                    <div id="status"></div>
                </div>
                <div class="card-footer">
                    <h4 id="delivered__message"></h4>
                </div>
            </div>
        </div>
    </div>
</div>