
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            .roundedImage{
                overflow:hidden;
                -webkit-border-radius:50px;
                -moz-border-radius:50px;
                border-radius:50px;
                width:40px;
                height:40px;
            }
            </style>
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    </head>
    
        <body>
            <div class="container bootstrap snippets bootdey">
                <div class="col-sm-8">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img [src]="'data:image/jpeg;base64,'+pub.user.img" class="roundedImage" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5" style="margin-left: 20px;">
                                    <b>{{pub.user.user_name}} {{pub.user.user_Lastname}}</b>
                                    
                                </div>
                                <h6 style="margin-left: 20px;" class="text-muted time">  {{pub.createdAt | amTimeAgo}}</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p><b>{{pub.publication_txt}}</b></p><br>
                            <div *ngIf="pub.pic"><img [src]="'data:image/jpeg;base64,'+pub.pic" width="50%" height="50%" style="height: 100%;width: 100%;" ></div>
                            <div>
                                <a (click)="addlike()" class="btn btn-default stat-item" id="stats">
                                    <i class="fa fa-thumbs-up icon" id="1"></i>{{pub.likecount}}
                                    <audio src="../assets/mp3/pop_1lzEdx1.mp3" autoplay hidden *ngIf="play">
                                    </audio>
                                </a>
                                <a (click)="adddislike()" class="btn btn-default stat-item" id="stats1">
                                    <i class="fa fa-thumbs-down icon" id="2"></i>{{pub.dislikecount}}
                                </a>
                                <a (click)="hidecomment()" class="btn btn-default stat-item" id="stats1">
                                    <i class="fas fa-comments"></i>{{pub.commentsNumber}}
                                </a>
                                
                                
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="input-group"> 
                                <input class="form-control" placeholder="Add a comment" type="text" [(ngModel)]="com" name="com" (blur)="onBlur()" (focus)="onFocus()">
                                <div class="input-group-append">
                                    <span class="input-group-text" (click) ="toggleEmojiPicker()" ><i class="far fa-laugh-beam"></i></span>
                                  </div>
                                  <button (click)="AddComment()" id="comment"  class="btn btn-info"><i class="fa fa-edit"></i></button>
                                  <!--<audio src="../assets/mp3/264828__cmdrobot__text-message-or-videogame-jump.ogg" autoplay hidden *ngIf="playsound"></audio>-->
                            </div>
                            <emoji-mart  darkMode={true} class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
                            title="Pick your emoji…"></emoji-mart>
                                                
                            <div *ngIf="hide">
                                <div class="comment1" *ngFor="let c of comments | paginate:{ itemsPerPage: 4, currentPage: p } ; let i = index " id="com" >
                              
                                    <ul class="comments-list" #cocomment>
                                    <li class="comment" >
                                        <a class="pull-left" href="#">
                                            <img class="roundedImage" [src]="'data:image/jpeg;base64,'+c.user.img" alt="avatar">
                                        </a>
                                        <div class="comment-body">
                                            <div class="comment-heading">
                                                <h4 class="user">{{c.user.user_Lastname}}</h4>
                                                <h5 class="time">{{c.createdAt | amTimeAgo:true}}</h5>
                                            </div>
                                            
                                            <p #{{c.id}}>{{c.comment_field}}</p>
                                            <div >
                                                <a  class="btn btn-default stat-item" (click)="addlikecomments(c.id)">
                                                    <i class="fa fa-thumbs-up icon"></i>{{c.like_count}}       
                                                </a>
                                                <a  class="btn btn-default stat-item" (click)="deleteComment(c.id)">
                                                    <i class="fas fa-times-circle"></i>
                                                </a>
                                                <a  class="btn btn-default stat-item"  (click)="hideupdates(i,c.id)">
                                                    <i class="fas fa-edit"></i>
                                                </a>                     
                                            </div>
                                            <div  class="input-group" id="box"  #boxes> 
                                                <input class="form-control" placeholder="Add a comment" [(ngModel)]="com1" type="text"  name="com1" (blur)="onBlur1()" (focus)="onFocus1()">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="deleteLastChar()" ><i class="fas fa-backspace"></i></span>
                                                    <span class="input-group-text" (click) ="toggleEmojiPickercomment()" ><i class="far fa-laugh-beam"></i></span>
                                                  </div>
                                                  <button (click)="updatecomment(i,c.id)" id="comment"  class="btn btn-info"><i class="fa fa-edit"></i></button>
                                                  <emoji-mart darkMode={true} class="emoji-martcomment" set="{{set}}" *ngIf="showEmojiPickercomment" (emojiSelect)="addEmoji1($event)"
                                                       title="Pick your emoji…"></emoji-mart>
                                            </div>
                                            </div>
                                            
                                    </li>
                                </ul>
                                
                                </div>
                                <pagination-controls style="position: relative;" (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </body>
    
</html>
