<div id="app">
    <div class="doors">
      <div class="door">
        <div class="boxes">
          <!-- <div class="box">?</div> -->
        </div>
      </div>
  
      <div class="door">
        <div class="boxes">
          <!-- <div class="box">?</div> -->
        </div>
      </div>
  
      <div class="door">
        <div class="boxes">
          <!-- <div class="box">?</div> -->
        </div>
      </div>
    </div>
  
    <div class="buttons">
      <button id="spinner" class="btn btn-primary">Spin</button>
      <button id="reseter" class="btn btn-success">Reset</button>
    </div>
  
    <p class="info"></p>
  </div>