<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="col-md-12 bootstrap snippets bootdeys">
<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                <ul class="pagination pagination-split">
                    <li><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li>...</li>
                    <li><a href="#">6</a>
                    </li>
                    <li><a href="#">7</a>
                    </li>
                    <li><a href="#">8</a>
                    </li>
                    <li><a href="#">9</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown"  *ngFor="let deliveryMan of listDeliveryMan">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <h4 class="brief"><i>Delivery man</i></h4>
                        <div class="left col-xs-7">
                            <h2>{{deliveryMan.deliveryMan_Name}} {{deliveryMan.deliveryMan_lastName}}</h2>
                            
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone"></i> {{deliveryMan.phoneNumber}}  </li>
                                <li><i class="fa fa-truck"></i> {{deliveryMan.workLoad}} Deliveries </li> 
                            </ul>


                        </div>

                        
                        <div class="right col-xs-5 text-center">
                            <img [src]="'data:image/jpeg;base64,'+deliveryMan.delivery_phot" title="{{deliveryMan.deliveryMan_Name}} {{deliveryMan.deliveryMan_lastName}}" alt="" class="img-circle img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                                <a>4.0</a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star"></span></a>
                                <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs" > 
                                <i class="fa fa-user"></i> 
                                <i class="fa fa-comments-o"></i>  
                            </button>
                            <button type="button" class="btn btn-primary btn-xs"  > 
                                <i class="fa fa-facebook" ></i><a style="color:white" href="{{deliveryMan.facebook}}">acebook </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            