<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a routerLink="showmaps" routerLinkActive="active">Maps</a></li>
        
        <li><a routerLink="profile" routerLinkActive="active">Profiles</a></li>
        <li><a routerLink="Statistics" routerLinkActive="active">Statistics</a></li>
        <li><a routerLink="Listclaims" routerLinkActive="active">Claims</a></li>
        <li><a routerLink="Listdeliveryman" routerLinkActive="active">List of delivery man</a></li>
        <li><a routerLink="adddeliv" routerLinkActive="active">Add a delivery man</a></li>
        
        <li><a routerLink="addclaim" routerLinkActive="active">Add a claim</a></li>
        
       
        
    </ul>
    
</nav>