<br>





<br>


<br>



<br>
<br>

<br>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


       
        <div id="fullscreen_bg" class="fullscreen_bg">
 <form class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
        
        <div class="panel panel-default">
        
        <div class="panel panel-primary">
        
            
            <div class="text-center" >
           
            <!--<button type="button" (click)="getProfitMonthly()" class="btn btn-primary btn-lg btn3d"><span class="glyphicon glyphicon-search"></span>View</button>-->
        
           
        </div>                 
    <div class="panel-body">    
        <tr>
            <input type="submit"  class=" btn-lg" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;" (click)="getAppvisit()">
            <!--<button  class="btn btn-light" class="btn btn-light btn-sl" (click)="getAppvisit()" >-->
                <!--Number of Views-->
                <!-- </button>-->
                 <!--<i class="fa fa-eye"></i>-->
             <!--{{num}}-->
            </tr>



<table class="table table-striped table-condensed"  >
    <thead>
    <tr>
        <th class="text-center" width="115px">Number of Views</th>
        
       
        
    </tr>
</thead>   
<tbody >
    
    <p class="text-center" width="150px"> {{num}}</p> 
 
    </tbody>
    
    </table>