<div class="currency">
  <div class="one">
    <div class="currency-list">
      <svg>
        <path id="arc5" fill="none" stroke-width="0" />
        <path id="arc6" fill="none" stroke-width="0" />
        <path id="arc7" fill="none" stroke-width="0" />
        <path id="arc8" fill="none" stroke-width="0" />
        <text>
          <textPath xlink:href="#arc5">USD</textPath>
        </text>
        <text>
          <textPath xlink:href="#arc6" class="selected">EUR</textPath>
        </text>
        <text>
          <textPath xlink:href="#arc7">DT</textPath>
        </text>
        <!-- <text>
          <textPath xlink:href="#arc8">POUND</textPath>
        </text> -->
      </svg>
    </div>
  </div>
  <div class="two">
    <div class="currency-list">
      <svg>
        <path id="arc1" fill="none" stroke-width="0" />
        <path id="arc2" fill="none" stroke-width="0" />
        <path id="arc3" fill="none" stroke-width="0" />
        <path id="arc4" fill="none" stroke-width="0" />
        <text>
          <textPath xlink:href="#arc1">USD</textPath>
        </text>
        <text>
          <textPath xlink:href="#arc2" class="selected">EUR</textPath>
        </text>
        <text>
          <textPath xlink:href="#arc3">DT</textPath>
        </text>
        <!-- <text>
          <textPath xlink:href="#arc4">RENMINBI</textPath>
        </text> -->
      </svg>
    </div>
  </div>
</div>
