/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-color: #efefef;
  }
  
  .profile-pic {
      max-width: 200px;
      max-height: 200px;
      text-align: center;
      display: block;
      margin-top: 10px;
  }
  
  .file-upload {
      display: none;
  }
  .circle {
      border-radius: 1000px !important;
      overflow: hidden;
      width: 100px;
      height: 100px;
      border: 8px solid rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 25px;
      left: 40px;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  .p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  




  background: #f1f1f1;
}

/* The laptop with borders */
.laptop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;

}

/* The keyboard of the laptop */
.laptop:after {
  content: '';
  display: block;
  position: absolute;
  width: 1600px;
  height: 60px;
  margin: 80px 0 0 -110px;
  background: black;
  border-radius: 6px;
}

/* The top of the keyboard */
.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

/* The screen (or content) of the device */
.laptop .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
  }
  
  .full-height {
    height: 100%;
   
  }