<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!--
<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" [(ngModel)]="euser_id" placeholder="Search With UserId"  name="euser_id" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findUserById()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                 
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
   <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of euser">
            <td>{{e.euser_id}}</td>
            <td>{{e.membre_username}}</td>
            <td>{{e.email}}</td>
            <td>{{e.password}}</td>
            
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteUser(euser_id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
        
        </tr>
    </tbody>
    </table>
   </div>
</div>

-->