<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li  class="item-group-list" ><a class="navbar-brand" href="#">
                
            <img src="../assets/pictures/logo.png" alt="Logo" style="width:70px;"/>
          </a></li>
        <li><a routerLink="showmaps" routerLinkActive="active">Maps</a></li>
        
        <li><a routerLink="profile" routerLinkActive="active">Profiles</a></li>
        <li><a routerLink="Statistics" routerLinkActive="active">Statistics</a></li>
        <li><a routerLink="Listclaims" routerLinkActive="active">Claims</a></li>
        <li><a routerLink="Listdeliveryman" routerLinkActive="active">List of delivery man</a></li>
        <li><a routerLink="adddeliv" routerLinkActive="active">Add a delivery man</a></li>
        
        <li><a routerLink="addclaim" routerLinkActive="active">Add a claim</a></li>
        <li><a routerLink="authenticate" routerLinkActive="active">Authenticate</a></li>
        <li><a routerLink="maps/:id1" routerLinkActive="active">mapsDeliv</a></li>
        <li><a routerLink="order" routerLinkActive="active">order</a></li>
        <li><a routerLink="notif" routerLinkActive="active">notification</a></li>
       
       
       
        
        
    </ul>
    
</nav>
<!--
<button (click)="geoFindMe()">Show my location</button><br/>
<p #status></p>
<a #maplink target="_blank"></a>
-->