<!--<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>
<app-dashboard></app-dashboard>
<app-profit></app-profit>
<app-euser></app-euser>
<app-search></app-search>-->


<!--<section class="content">
    <div class="container-fluid">
    <router-outlet></router-outlet>
    </div>
    </section>-->
    <div>
        <button (click)="getAppvisit()"  class="btn btn-primary">
            sd
             </button>
         
         
               <i class="fa fa-eye">
         
               </i>
            {{num}}
    </div>