<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a routerLink="addclaim" routerLinkActive="active">Add a claim</a></li>
        <li><a routerLink="List of delivery man" routerLinkActive="active">List of delivery man</a></li>
        <li><a routerLink="Statistics" routerLinkActive="active">Statistics</a></li>
        <li><a routerLink="List of claims" routerLinkActive="active">List of claims</a></li>
        <li><a routerLink="showmaps" routerLinkActive="active">Show map</a></li>
        <li><a routerLink="adddeliv" routerLinkActive="active">Add a delivery man</a></li>
       
        
    </ul>
    
</nav>