<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <!--<div class="input-group col-md-12" style="text-align: center ">
                                    <input type="number" class="search-query form-control" [(ngModel)]="user_id" placeholder="Search With Id"  name="euser_id" />
                                   
                                   <br>

                                   <br>
                                   
                                    <span class="input-group-btn">
                                        <button   type="submit" class="btn btn-danger" type="button" (click)="findUserById(user_id)">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                 
                                    </span>
                                    
                                </div>-->
                                <br>









                                <br>






                                <br>








                                <br>

                                
                                
                            
    </div>
    </div>
<div class="container">
<div class="container">
   <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Code a bar</th>
            <!--<th>Image</th>-->
            
        </tr>
    </thead>
    <tbody>
      
          <tr  *ngfor="let p of products">

            <td>{{p.product_id}}</td>
            <td>{{p.productname}}</td>
            <td>{{p.productdescription}}</td>
            <td>{{p.quantity}}</td>
            <td>#{{p.codebar}}</td>
            <!--<td>{{p.productimg}}</td>-->
            
    
          </tr>
       
      
    </tbody>
    </table>
   </div>
</div>


