<p class="text text-success">
    You  
    <a href="/editprofile">
    editprofile
    </a>
   </p>

coins  <p *ngIf="profs"> {{profs.coins}}   
    
  mail : {{profs.email}}
 </p>
<div *ngIf="profs.lprofile.edited">



 <div class="container">
     <div class="d-flex justify-content-center h-100">
         <div class="image_outer_container">
             <div class="green_icon"></div>
             <div class="image_inner_container">
                 <img  class="img-circle"  [src]="'data:image/jpeg;base64,'+ profs.lprofile.picprofile" height="85px" width="85px"/>
             </div>
         </div>
     </div>
 </div>
 <p>
     {{profs.lprofile.tel}}   ;  coins {{profs.coins}}
 </p>

 <p>
     {{profs.lprofile.adreese}}
 </p>

 <p  *ngIf="profs.fav">
      you have  a  favourites
 </p>

 <div class="row ">
     <div class="col-lg-12">
         <div class="badge badge-success">
             <span class="text text-success">
                 <div style="color: gold;">
                     <p style="color: gold;">
                         <i class="fas fa-coins"></i> {{profs.coins}}
                     </p>
                 </div>
             </span>
         </div>
     </div>
 </div>

 <button kendoButton *ngIf="!opened" (click)="open()">
    
    chat 
    <i class="fa fa-send" aria-hidden="true"></i>
</button>

 <!-- <kendo-window
 title="Please provide additional data"
 *ngIf="opened"
 (close)="close()"
 [minWidth]="250"
 [width]="450"
> -->
<div class="container">
    	
	<div class="row">
	    <div class="chatbox chatbox22 chatbox--tray">
    
            <div class="chatbox__title">
                <h5><a>Leave a message</a></h5>
                <!--<button class="chatbox__title__tray">
                    <span></span>
                </button>-->
                
            </div>
    <div class="chatbox__body">

         <div class="chatbox__body__message chatbox__body__message--left" *ngFor="let chatMessage of chatMessages">
            <div class="chatbox_timing">
            
                <div><i class="fa fa-clock"></i>   {{ chatMessage.date }}</div>
                   
                 
                 </div>
		 
            <img [src]="'data:image/jpeg;base64,'+chatMessage.img" title="{{chatMessage.user_name}}" alt="Picture">
			
			<div class="ul_section_full">
			
			{{chatMessage.message}} 
			<br>
			<div class="clearfix"></div>
			
            </div>
            
        </div>
        
    </div>
    
        <div class="panel-footer">
            <div class="input-group">
                <textarea  id="btn-input" name="messages" [(ngModel)]="messages" type="text" class="form-control input-sm chat_set_height" placeholder="Type your message here..." tabindex="0" dir="ltr" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off" contenteditable="true" cols="20" rows="20"></textarea>
                
                <span class="input-group-btn">
                    <button (click)="sendMessage2()" class="btn bt_bg btn-sm" id="btn-chat">
                        Send</button>
                </span>
            </div>
        </div>
    
</div>
	    
	</div>
	</div>
<!-- </kendo-window> -->

