<br>










<br>










<br>















<br>























<br>




<br>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form  #f="ngForm" (ngSubmit)="Save(f)">
                <div class="note">
                    <p>Register</p>
                </div>
                
            
                <fieldset>
                    

                    <div class="form-group" >
                       
                        <label for="Name"><span class="req">* </span> Name:  </label>
                        <input required type="text" [(ngModel)]="euser.membre_username" name="name" id="name" ngModel required  #l="ngModel"
                            class="form-control phone" maxlength="28" placeholder="Enter your fullname..." />
                           
                      </div> 
                      
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Your image</label>
                       
                       <input   type="file" class="form-control-file" (change)="onFileChanged2($event)">
                      <img [src]="imageUrl2" height="200" width="200" *ngIf="imageUrl2">
                      </div>
                      
                      
                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email: </label>
                        <input class="form-control" type="email" [(ngModel)]="euser.email" name="email" id="txt" ngModel required pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+.[a-zA-Z0-9]{2,4}" #e="ngModel"
                            placeholder="name@example.com" />
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div id="errFirst"></div>
                    
                      
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">* </span> Password : </label>
                        <input class="form-control" type="password" [(ngModel)]="euser.password" name="password" id="txt"
                            placeholder="Password must be at least 8 characters" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">* </span> Confirm Password : </label>
                        <input class="form-control" type="password" [(ngModel)]="euser.confirm_password" name="confirmpassword" id="txt"
                            placeholder="Password must be at least 8 characters" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="city"><span class="req">* </span> City : </label>
                        <input class="form-control" type="text" [(ngModel)]="euser.city" name="city" id="txt"
                            placeholder="City or Town" required />
                        <div id="errLast"></div>
                    </div>
                 
                    <div class="form-group">
                        <label for="address"><span class="req">* </span> Address : </label>
                        <input class="form-control" type="text" [(ngModel)]="euser.address" name="city" id="txt"
                            placeholder="rue de liberte" required />
                        <div id="errLast"></div>
                    </div>

                   
                    <div class="form-group">
                        <label for="phonenumber"><span class="req">* </span> Phone Number : </label>
                        <input class="form-control" type="tel" [(ngModel)]="euser.phone_number" name="phonenumber" id="txt"
                            placeholder="phonenumber must be 8 numbers" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req">* </span> Age : </label>
                        <input class="form-control" type="text" [(ngModel)]="euser.age" name="age" id="txt"
                            placeholder="Age" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="address"><span class="req">* </span> Sexe : </label>

                      
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="euser.sexe" name="sexe" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                              Female
                            </label>
                        </div>
                    
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                              Male
                              </label>
                          </div>
                        </div>
                    <input  type="submit"  (click)="add()" value="register"  type="button" class="btnSubmit" />
                     
<br>
















<br>

                      
                </fieldset>
            
            </form>
            
      </div>

    </div>
</div>






<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!Doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>Registration Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <div class="container">
 
     <header class="heading"> Registration-Form</header>
    
    <div class="row">
     
     <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                  <label class="firstname">Name :</label> </div>
            <div class="col-xs-8">
                <input type="text" name="memnbre_name" id="memnbre_name"  required type="text" [(ngModel)]="euser.membre_username" class="form-control phone" maxlength="28" placeholder="Enter your fullname..."/>
        </div>
         </div>
    </div>
        
        

        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4">
                    <label class="mail" >Email :</label></div>
                <div class="col-xs-8"   >    
                     <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" />
                </div>
            </div>
        </div>
   

         <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                          <label class="pass">Password :</label></div>
                 <div class="col-xs-8">
                    <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control"/>
                </div>
         </div>
         </div>
         
    
        <div class="col-sm-12">
            <div class ="row">
                <div class="col-xs-4 ">
                  <label class="gender">Gender:</label>
                </div>
            
               
                <div class="col-xs-4 male">  
                    <input type="radio" name="sexe"  id="sexe" value="boy"/>
                    <label class="form-check-label" for="gridCheck1">
                        Female
                        </label>
                </div>
                
               
                <div class="col-xs-4 male">  
                    <input type="radio" name="sexe"  id="sexe" value="boy"/>
                    <label class="form-check-label" for="gridCheck1">
                        Male
                        </label>
                </div>
                

               

              </div>
            <div class="col-sm-12">
                <div class="btn btn-warning">Submit</div>
          </div>
        </div>
    </div>   
                 
</div>

</body>     
</html>-->
